<form class="form-horizontal">
    <div class="form-group form-required">
        <label for="name" class="control-label col-sm-3">名称：</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="form-group form-required">
        <label for="version" class="control-label col-sm-3">版本：</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="version" name="version">
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="control-label col-sm-3">描述：</label>
        <div class="col-sm-7">
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
    </div>
    <div class="form-group form-required">
        <label for="file-input" class="control-label col-sm-3">文件：</label>

        <div class="col-sm-7">
            <input id="file-input" name="file" type="file">
        </div>
    </div>
</form>