<form class="form-horizontal">
    {{each interfaceInputs as input}}
        {{if input.type == "ARTIFACT"}}
        <div class="form-group form-required">
            <label class="control-label col-sm-3">{{input.name}}：</label>

            <div class="col-sm-7">
                <select class="form-control" name="{{input.name}}">
                    {{each packages as pkg}}
                    <option value="{{pkg.id}}">{{pkg.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{else if input.type == "STRING"}}
        <div class="form-group form-required">
            <label class="control-label col-sm-3">{{input.name}}：</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" name="{{input.name}}">
            </div>
        </div>
        {{else if input.type == "PROPERTY"}}
        <div class="form-group form-required">
            <label class="control-label col-sm-3">{{input.name}}：</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" name="{{input.name}}" value="{{input.value}}">
            </div>
        </div>
        {{/if}}
    {{/each}}

</form>