<form class="form-horizontal">
    <div class="form-group form-required">
        <label for="repositoryUrl" class="control-label col-sm-3">git库：</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="repositoryUrl" name="repositoryUrl">
        </div>
    </div>
    <div class="form-group form-required">
        <label for="branch" class="control-label col-sm-3">分支：</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="branch" name="branch">
        </div>
    </div>
    <div class="form-group form-required">
        <label for="password" class="control-label col-sm-3">构建命令：</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="password" name="password">
        </div>
    </div>
</form>